.board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    background: #f6b93b;
    border: 2px solid #494949;
    width: 220px;
    height: 100px;
    margin: 10px 0;
    color: #494949;
}

.red {
    color: red;
}